.App {
  text-align: center;
}
/* .body{
  width: 100%;
  height: 200vh;
  margin: 0;
}
.bg-image{
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity();
  opacity: 0.5;
}
* {
  box-sizing: border-box;
}
.img1{background-image: url('./assets/IMPACT-1109-Edit.jpg');}
.img2{background-image: url('./assets/IMPACT-1280-Edit.jpg');}
.img3{background-image: url('./assets/IMPACT-1910-Edit.jpg');}
.img4{background-image: url('./assets/IMPACT-817-Edit.jpg');}
.img5{background-image: url('./assets/IMPACT-881-Edit.jpg');}
.img6{background-image: url('./assets/IMPACT-989-Edit.jpg');}
 */
