
.login-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 1000;
  }

  .form-box{
    width: 30vw;
  }
  
  .login-text{
    width: 100%;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid white;
    line-height: 30px;
    width: 100%;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    margin-bottom: 1vh;
  }
  
  label {
    color:rgb(0, 0, 0);
    width: 100%;
    text-align: center;
  }
  
  .login-box{
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 100px;
    /* padding-left: 10px; */
    letter-spacing: 1px;
    font-weight: 600;
    margin: 5px;
    font-size: 11pt;
    background: transparent;
    transition: 1s;
    outline: none;
  }
  
  .login-btn{
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(48,172,251);
    color: white;
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    font-size: 15pt;
    font-weight: 700;
    transition: 1s;
    outline:none;
    cursor: pointer;
    margin-bottom: 20px;
    
  }
  
  .show {
    display: block;
    transition: 800ms;
    opacity: 1;
  }
  
  .show.active {
    transform: translateY(100px) scale(0) ;
    opacity: 0;
  }