.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr,1fr,1fr;
    grid-template-rows: 1fr,1fr,1fr,1fr;
}
.con1{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 2vh;
}
.con2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 2vh;
}
.con3{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 2vh;
}
.con4{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 2vh;
}
.tab1{
    position: relative;
    width: 32vw;
    height: 44vh;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 2vw;
    border-radius: 20px;
} 
.tab2{
    position: relative;
    width: 32vw;
    height: 44vh;
    grid-row-start: 2;
    grid-row-end:3 ;
    margin-left: 2vw;
    border-radius: 20px;
} 
.tab3{
    position: relative;
    width: 32vw;
    height: 44vh;
    grid-row-start: 3;
    grid-row-end:4 ;
    margin-left: 2vw;
    border-radius: 20px;
}  
.tab4{
    position: relative;
    width: 32vw;
    height: 77vh;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-left: 2vw;
    border-radius: 20px;
} 